@import '@/index.css';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--neutral);
  padding: 16px;
  border-radius: 5px;
  min-width: 380px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;

  .modal__close-icon {
    position: absolute;
    top: 8px;
    right: 16px;
    display: grid;
    place-content: center;
    width: 32px;
    height: 32px;
    border-radius: 99px;
    font-size: 20px;
    outline: none;
    border: none;
    color: var(--gray-800);
    background-color: transparent;
    cursor: pointer;
  }

  .modal__title {
    font-size: 20px;
    color: var(--gray-800);
  }

  .modal__body {
    padding-top: 32px;
  }
  .modal__footer {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    flex: 1;

    .modal__button--primary {
      flex: 1;

      background-color: var(--primary);
      color: var(--neutral);
      padding: 12px 0px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--primary-hover);
      }
    }
    .modal__button--secondary {
      flex: 1;
      background-color: transparent;
      color: var(--gray-200);
      padding: 12px 0px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: var(--gray-100);
        color: var(--gray-400);
      }
    }
  }
}
